/* Sidebar Styles */
.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background: #000;
    transition: left 0.5s ease;
  }
  
  .sidebar-wrapper.toggled {
    left: -250px;
  }
  
  .sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
  }
  
  .sidebar-nav li {
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    padding: 10px 15px;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li ul {
    display: none;
  }
  
  .sidebar-nav li ul.show {
    display: block;
  }
  
  .no-margin {
    margin: 0;
  }
  
  /* Other Styles */
  
  #page-content-wrapper {
    margin-left: 250px;
    padding: 20px;
    transition: margin 0.5s ease;
  }
  
  #menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
  }
  
  .xyz {
    min-width: 360px;
  }
  